# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# macOS files
.DS_Store

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# pytest cache
.pytest_cache/

# PIP file
pip-log.txt

# SQLite database files
*.sqlite3

# Logs and records
*.log
*.csv
*.out

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local environment variables
.env
.venv
.env.*

# C extensions
*.so

# Editor swap files
*~